*.aux
*.bbl
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.ilg
*.lof
*.lot
*.log
*.nav
*.nlo
*.nls
*.out
*.run.xml
*.snm
*.tdo
*.toc
*-eps-converted-to.pdf
__pycache__
.idea
arxiv
msc2-python/**/*.html
msc2-python/logs
main.pdf
