*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.lof
*.lot
*.log
*.nav
*.out
*.run.xml
*.snm
*.tdo
*.toc
__pycache__
.idea
msc2-python/**/*.html
msc2-python/**/*.png
msc2-python/logs
main.pdf
